<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'items' %}">
          <i class="mdi mdi-archive menu-icon" ></i>
          <span class="menu-title">Items</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'invoices' %}">
          <i class="mdi mdi-receipt menu-icon"></i>
          <span class="menu-title">Invoices</span>
        </a>
      </li>
    </ul>
  </nav>